@{
    ViewData["Title"] = "Comic Books Store";
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device=width">
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        <div>
            <h1>Welcome To The Comic Book Store</h1>
            <p>WHY hello there</p>
        </div>
    </body>
</html>
